<h1>Todo</h1>
<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid Values</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid Target Date</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter at least 5 characters in description</div>
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm='ngForm'>
    <fieldset>
      <label>Description</label>
      <input [(ngModel)]="todo.description"
             #description="ngModel"
             class="form-control"
             name="description"
             required="required"
             minlength="3">
    </fieldset>
    <fieldset>
      <label>Target Date</label>
      <input type="date"
             #targetDate="ngModel"
             [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
             (ngModelChange)="todo.targetDate = $event"
             class="form-control"
             name="targetdate"
             required="required">
    </fieldset>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
